* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background: rgb(165, 213, 164);
    background: linear-gradient(90deg, rgba(165, 213, 164, 1) 0%, rgba(54, 218, 79, 1) 35%, rgba(156, 237, 106, 1) 80%, rgba(56, 120, 57, 1) 100%);
}

form {
    width: 25%;
    margin-top: 100px;
    background: rgb(92, 238, 89);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 70px 20px;
    text-align: center;

}

form h1 {
    position: relative;
    bottom: 30px;
}

.form-button button {
    background-color: transparent;
    width: 50%;
}

/* Media query */

@media screen and (max-width:1200px) {
    form {
        width: 70%;
        margin-top: 150px;
        background: rgb(92, 238, 89);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        padding: 70px 20px;
        text-align: center;

    }
}

@media screen and (max-width:700px) {
    form {
        width: 100%;
        margin-top: 150px;
        background: rgb(92, 238, 89);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        padding: 70px 20px;
        text-align: center;

    }
}