body {
    height: 100vh;
    width: 100%;
    background: rgb(6, 146, 239);
    background: linear-gradient(77deg, rgba(6, 146, 239, 1) 0%, rgba(48, 9, 238, 1) 34%, rgba(89, 15, 234, 1) 80%, rgba(172, 0, 255, 1) 100%);
}

.section-1 nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #013b3b;
    padding: 15px;
    color: aliceblue !important;
    text-align: center;
    font-weight: 700;
}

.section-1 nav li {
    display: inline;
    margin-left: 10px;
}

.section-1 nav li a {
    text-decoration: none;
    color: aliceblue !important;
    text-align: center;
    transition: 1s;
}

.section-1 nav li a:hover {
    color: aqua !important;
}

.section-1 nav .buttons a {
    text-decoration: none;
    color: aliceblue !important;
    margin-left: 20px;
    background-image: linear-gradient(to right, magenta, red) !important;
    padding: 6px 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.section-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.section-2 .text {
    margin-top: 25%;

}

.section-2 .text h1 {
    font-size: 50px;
    animation: move 5s;
}

.section-2 .text p {
    animation: text 5s;
}

.section-2 .text a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    border: 1px solid #fff;
    padding: 4px 50px;
    border-radius: 20px;

}

@keyframes move {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes text {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);

    }
}